* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  min-width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  background: #fdf6e3;
}

a {
  display: block;
  color: rgba(0, 0, 0, 0.674);
  width: 40vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;

  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.719);
}

.wrap {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poem {
  width: 300px;
  background: rgba(116, 116, 173, 0.511);
}

.line {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  position: relative;

  animation-name: reveal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.line::selection {
  background: #bd0d0d72;
}

/* @keyframes reveal {
  0% {
    transform: scaleX(1);
    margin: 0;
    opacity: 0;
  }
  60% {
    transform: scaleY(-1) scale(-.5);
    margin: 10px auto;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    margin: 0;
  }
} */

@keyframes fall {
  0% {
    top: -20px;
  }

  50% {
    top: 85px;
  }
  80% {
    top: 78px;
  }
  100% {
    top: 80px;
  }
}

.line1 {
  animation-name: reveal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.line2 {
  animation-name: reveal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
}

.line3 {
  opacity: 0;
  animation-name: reveal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}

.line4 {
  opacity: 0;
  animation-name: reveal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 8.5s;
}
.line5 {
  opacity: 0;
  animation-name: reveal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 11s;
}
.line6 {
  opacity: 0;
  animation-name: reveal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: s;
}

.line7 {
  opacity: 0;
  animation-name: reveal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}

.threeFourGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.i {
  position: relative;
  opacity: 0;
  animation: reveal 1s ease-in-out 8.5s forwards,
    fall 1.25s ease-in-out 8.5s forwards;
}

.n {
  position: relative;
  opacity: 0;
  animation: reveal 1s ease-in-out 8.75s forwards,
    fall 1.25s ease-in-out 8.75s forwards;
}

.n {
  position: relative;
  opacity: 0;
  animation: reveal 1s ease-in-out 9s forwards,
    fall 1.25s ease-in-out 9s forwards;
}

.f {
  position: relative;
  opacity: 0;
  animation: reveal 1s ease-in-out 9.25s forwards,
    fall 1.25s ease-in-out 9.25s forwards;
}

.a {
  position: relative;
  opacity: 0;
  animation: reveal 1s ease-in-out 9.5s forwards,
    fall 1.25s ease-in-out 9.5s forwards;
}

.l {
  position: relative;
  opacity: 0;
  animation: reveal 1s ease-in-out 9.75s forwards,
    fall 1.25s ease-in-out 9.75s forwards;
}

.ll {
  position: relative;
  opacity: 0;
  animation: reveal 1s ease-in-out 10s forwards,
    fall 1.25s ease-in-out 10s forwards;
}
